@{
    ViewBag.Title = "Virtual e-Voting System";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
               @* To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.*@
            </p>
        </div>
    </section>
}
<h3>To cast your VOTE, we strongly suggest the following:</h3>
<ol class="round">
   @* <li class="one">
        <h5>Getting Started</h5>
     Log-in with your Username and Password.
    </li>*@

    <li class="one">
        <h5>Voting</h5>
       Click the <b>"Vote!"</b> BUTTON at the rightmost corner of the page, this will reveal candidates.<br />
        Select your candidate(s) and hit the submit button.
    </li>

    <li class="two">
        <h5>In Problems</h5>
      In Problems, please see any Electoral for further intruction(s).
    </li>
</ol>
